/Artifacts/
/TestGameCI/.idea/
/TestGameCI/.utmp/
/TestGameCI/.vs/
/TestGameCI/.vscode/
/TestGameCI/Assets/AddressableAssetsData/Android/
/TestGameCI/Assets/AddressableAssetsData/Android.meta
/TestGameCI/Assets/AddressableAssetsData/link.xml
/TestGameCI/Assets/AddressableAssetsData/link.xml.meta
/TestGameCI/Assets/GoogleMobileAds/link.xml
/TestGameCI/Assets/GoogleMobileAds/link.xml.meta
/TestGameCI/Assets/Resources/PerformanceTestRunInfo.json
/TestGameCI/Assets/Resources/PerformanceTestRunInfo.json.meta
/TestGameCI/Assets/Resources/PerformanceTestRunSettings.json
/TestGameCI/Assets/Resources/PerformanceTestRunSettings.json.meta
/TestGameCI/Assets/Temp/
/TestGameCI/Assets/Temp.meta
/TestGameCI/Library/
/TestGameCI/MemoryCaptures/
/TestGameCI/Logs/
/TestGameCI/obj/
/TestGameCI/Temp/
/TestGameCI/UserSettings/
/TestGameCI/*.csproj
/TestGameCI/*.sln
/TestGameCI/*.user
*.DS_Store